---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "search_ui.fullname" . }} # search-ui
  labels:
    app: search-engine
    component: ui
    release: {{ .Release.Name }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: search-engine
      component: ui
      release: {{ .Release.Name }}
  template:
    metadata:
      name: search-ui
      labels:
        app: search-engine
        component: ui
        release: {{ .Release.Name }}
    spec:
      containers:
      - image: {{ .Values.image.repository }}:{{ .Values.image.tag }} # funnyfatty/search_ui:1.0
        name: search-ui
        ports:
          - containerPort: {{ .Values.service.internalPort }}
            name: search-ui
            protocol: TCP
        env:
        - name: MONGO
          value: {{ .Values.mongodbHost }} # ui-db
