project = "diplom"
region = "europe-west1-b"
kube_cluster_name = "gke-cluster"
kube_node_pool_name = "main-pool"
machine_type = "e2-standard-2"
node_count = "1"
node_disk_size_gb = "100"
master_version = "1.15.12"
k8s-network-tag = "k8s-network-tag"
